    #about-sec {
        height: 100vh;
        padding-top: 55px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .about h1 {
        font-size: 3rem;
        text-align: center;
    }

    .about-img {
        width: 300px;
        margin: auto;
    }

    .about-profile {
        width: 100%;
    }

    .about-info {
        font-size: 20px;
    }

    .about-name {
        margin-top: 10px;
        margin-bottom: 1px;
    }

    .about-info-name {
        font-weight: 600;
    }

    .about-info-role {
        font-weight: 600;
    }

    .about-info-location {
        font-weight: 600;
    }

    .about-btns .btns {
        padding: 10px 20px;
        border: 1px solid black;
        margin-right: 5px;
    }

    .about-my-resume {
        background: black;
        color: white;
        transition: opacity 0.2s;
    }

    .about-my-resume:hover {
        opacity: 0.8;
    }

    .about-contact-me {
        background: none;
        transition: color 0.2s,
        background 0.2s;
    }

    .about-contact-me:hover {
        background: black;
        color: white;
    }