#about-sec {
    height: 100vh;
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: white;
}

.about h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

.about-img {
    width: 260px;
    margin: auto;
    padding-top: 10px;
}

.about-profile {
    width: 100%;
}

.short-bio {
    line-height: 1.4rem;
    text-align: justify;
    margin-top: 5px;
    font-size: 16px;
}

.short-bio span {
    font-weight: 600;
}

.about-btns {
    margin-top: 2.5rem;
}

.about-btns .btns {
    padding: 10px 20px;
    border: 1px solid black;
    margin-right: 5px;
}

.about-my-resume {
    background: black;
    color: white;
    transition: opacity 0.2s;
}

.about-my-resume:hover {
    opacity: 0.8;
}

.discover-my-work {
    background: none;
    transition: color 0.3s,
    background 0.3s;
}

.discover-my-work:hover{
    background: black;
    color: white;
}

.discover-my-work a {
    color: black;
    text-decoration: none;
}

.discover-my-work:hover a {
    color: white;
    text-decoration: none;
} 