#home-sec {
    height: 98vh;
    /* padding-top: 60px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    position: sticky;
    z-index: -100;
    top: 0;
}

.home {
    position: absolute;
    bottom: 10rem;
    color: white;
}

.home p {
    font-size: 1.3rem;
    padding-left: 4px;
    position: fixed;
    bottom: 17rem;
}

.home h1 {
    font-size: 4.8rem;
    line-height: 4rem;
    /* margin-top: -15px; */
    letter-spacing: -6px;
    position: fixed;
    bottom: 10rem;
}

.swipe {
    position: fixed;
    left: 6%;
    bottom: 4rem;
    color: white;
}

/* .home .title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: -8px;
    font-weight: 500;
}

.home .country {
    font-size: 22px;
}

.home .country span {
    font-weight: bold;
    font-size: 26px;
} */