#home-sec {
    height: 100vh;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    position: sticky;
    z-index: -100;
    top: 0;
}

.home {
    position: absolute;
    bottom: 10rem;
    color: white;
}

.home p {
    font-size: 1.3rem;
    padding-left: 4px;
}

.home h1 {
    font-size: 4.2rem;
    line-height: 3.4rem;
    margin-top: -15px;
}

.swipe {
    position: absolute;
    bottom: 7rem;
    color: white;
    padding-left: 4px;
}

/* .home .title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: -8px;
    font-weight: 500;
}

.home .country {
    font-size: 22px;
}

.home .country span {
    font-weight: bold;
    font-size: 26px;
} */